/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


img{
width:60%;
margin-left: 20%;
margin-right: 20%;
}

@media only screen 
and (max-width : 1900px){
	img{
		width:100%;
		margin-left: 0;
		margin-right: 0;
	}
}

@media handheld{
	img{
		width:100%;
		margin-left: 0;
		margin-right: 0;
	}
}