/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 
/* *************************  Front Page  *********************************** */

  .no_wrap{
  white-space: nowrap !important;
  }

 .blob{
   width: 100%;
   height: 1em !important;
   display: block;
 }

.blob_2{
  width: 100%;
  height: 2em !important;
  display: block;
}

.blob_3{
  width: 100%;
  height: 3em !important;
  display: block;
}

.blob_4{
  width: 100%;
  height: 4em !important;
  display: block;
}

.space {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
}

.space-32 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 32px 0 31px;
}

.space-30 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 30px 0 29px;
}

.space-28 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 28px 0 27px;
}

.space-26 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 26px 0 25px;
}

.space-24 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 24px 0 23px;
}

.space-22 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 22px 0 21px;
}

.space-20 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 20px 0 19px;
}

.space-18 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 18px 0 17px;
}

.space-16 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 16px 0 15px;
}

.space-14 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 14px 0 13px;
}

.space-12 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 12px 0 11px;
}

.space-10 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 10px 0 9px;
}

.space-8 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 8px 0 7px;
}

.space-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 6px 0 5px;
}

.space-4 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 4px 0 3px;
}

.space-2 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 2px 0 1px;
}


body{
background-color:#1F1F1F !important;
}

.matts_title{
    margin-left: 0 !important;
}

#drew_image{
    width: 200px;
    height: 200px;
}

#matt_image{
    width: 200px;
    height: 200px;
}

.circle1{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-image: image_url('Drew_current_pic_med.png');
    background-repeat: no-repeat;
    background-size:   100% 100%;
    margin-left: 15%;
    position: relative;
    top: 30px;
    z-index: 0;
}

.circle2{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-image: image_url('matt_currennt.png');
    background-repeat: no-repeat;
    background-size:   100% 100%;
    margin-left: 10%;
    position: relative;
    top: 30px;
    z-index: 0;
}

.form_text{
    font-family: "Gill Sans MT",Verdana,Calibri,sans-serif;
    color: white;
    margin-top: 1.5em;
    margin-bottom: 1.8em;
    font-size: 1.4em;
    text-align: center;
}
 
#DevCo{
display:inline;
width:40%;
min-width: 200px;
float: left;
margin-left: 0;
margin-right: 0;
}

#Logo{
display: inline;
width:14%;
min-width: 60px;
float: right;
margin-right: 0;
margin-left: 0;
padding-top: 10px;
}

#Logo_2{
  width:4em;
  position: fixed;
  bottom: 0;
  padding-bottom: .5em;
  padding-left: .2em;
}

#fair{
color: white;
font-size:3em;
margin-top:0;
margin-bottom:0;
  font-family: "DejaVu Serif", "Times New Roman", serif;

}

#reliable{
color: white;
font-size:3em;
margin-top:0;
margin-bottom:0;
  font-family: "DejaVu Serif", "Times New Roman", serif;

}

#smart{
color: white;
font-size:3em;
margin-top:0;
margin-bottom:0;
  font-family: "DejaVu Serif", "Times New Roman", serif;

}

#fair1{
  color: white;
  font-size:8vw;
  margin-top:0;
  margin-bottom:0;
  font-family: "DejaVu Serif", "Times New Roman", serif;

}

#reliable1{
  color: white;
  font-size:8vw;
  margin-top:0;
  margin-bottom:0;
  font-family: "DejaVu Serif", "Times New Roman", serif;

}

#smart1{
  color: white;
  font-size:8vw;
  margin-top:0;
  margin-bottom:0;
  font-family: "DejaVu Serif", "Times New Roman", serif;

}



/* *************************  Menu  *********************************** */

#nav_wrapper_2{
  background-color: #1F1F1F !important;
  float:left;
  border-top: 1px solid #5075D5;
  border-bottom: 1px solid #5075D5;
  z-index: 100;
  height: 65px;
}

#nav_wrapper{
  background-color: #1F1F1F !important;
  float:left;
  border-top: 1px solid #5075D5;
  border-bottom: 1px solid #5075D5;
  z-index: 100;
}


.nav_title{
    color:#5075D5;
    font-size: 3vw;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

.small_font{
  font-size: 1.5em !important;
}

.nav_title:hover{
    color: white;
}

#nav{
padding-left:0;
text-align: center;
}

.sticky {
    position:fixed !important;
    top:0 !important;
}

#submit_project{
  margin-top: 1.5em;
  font-size: 1.5em;
  color: white;
  background-color: #4F76D5;
  padding: 10px 0px;
  border: none;
}

.project_text{
  height: 3em;
  margin: 10px 0;
}


.project_text_1{
line-height: 2em;
}




/* These styles make sure the
   default underline is removed 
   link tags  */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.current{
color:white !important;
}




/* *************************  Partials  *********************************** */

.partial{
display: block;
margin-left:0;
padding: 5%;
padding-bottom: 20%;
padding-top: 10%;
margin-top: 30%;
margin-bottom: 30%;
}

.partial_2{
  display: block;
  margin-left:0;
  padding: 5%;
  padding-bottom: 20%;
  padding-top: 6%;
  margin-top: 30%;
  margin-bottom: 30%;
}

.partial_block{
    height: 1500px;
}

.title{
color:white;
font-size: 3.5vw;
margin-left: 38%;
margin-right: 35%;
top: 0;
font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.info{
padding-top:0;
color:white;
font-size: 2.6em;
line-height: 2em;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.info-xs{
  padding-top:0;
  color:white;
  font-size: 1.5em;
  line-height: 1.2em;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.info_2{
padding-top:0;
color:#6DB863;
margin-left: 5%;
font-size: 2.5vw;
width: 60%;
line-height: 150%;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.arrow{
width: 6%;
  min-width: 60px;
float: right;
margin-right: 0;
margin-top: 2%;
}

.arrow:hover{
background-color: #383838;
border: 1px solid #383838;
border-radius: 5px;
}

.arrow_left{
  width: 6%;
  float: right;
  min-width: 60px;
  margin-right: 2%;
  margin-top: 2%;
  display:none;
}

.arrow_left:hover{
background-color: #383838;
border: 1px solid #383838;
border-radius: 5px;
}

/* **********************************************  WHAT WE DO ********************************************* */


/* ***  Hidden Slides *** */
.slide_2, .slide_3, .slide_4, .slide_5{
display: none;
}



/* **************************   Slide 1   ***************************/

#developers{
font-size: 1em;
color: green;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#designers{
font-size: 1.2em;
color: yellow;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#entrepreneurs{
color: #CC3333;
font-size: 1.1em;
font-weight: 700;
font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

#developers-xs{
  font-size: .8em;
  color: green;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#designers-xs{
  font-size: 1em;
  color: yellow;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#entrepreneurs-xs{
  color: #CC3333;
  font-size: .9em;
  font-weight: 700;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

#Rails{
width: 80px;
}

#MySQL{
width: 100px;
}


#JQuery{
width: 100px;
}


#HMTL{
width: 100px;
}


#css3{
width: 70px;
}

#Rails-xs{
  width: 40px;
}

#MySQL-xs{
  width: 60px;
}


#JQuery-xs{
  width: 40px;
}


#HMTL-xs{
  width: 50px;
}


#css3-xs{
  width: 30px;
}





/* **************************   Slide 2   ***************************/

#first_step{
font-weight:700;
font-size: 3.7vw;
color:white;
}

#text_wrapper{
margin-left: 40%;
padding-top:2%;
color:white;
font-size: 2.5vw;
width: 65%;
line-height: 120%;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

#rotate_arrow{
width: 15%;
float: left;
margin-left: 15%;
margin-top: 0;
}





/* **************************   Slide 3   ***************************/


#agile{
width: 30%;
float: left;
margin-left: 10%;
padding-top:2%;

}

#list{
margin-left: 50%;
padding-top:8.2%;
color:white;
font-size: 2.5vw;
width: 47%;
line-height: 120%;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

#we_believe{
margin-left: 10%;
}

#agile_dev{
font-weight:700;
font-size: 3vw;
color:white;
}

#agile_link{
color:#7BBDF9;
}

#agile_link:link {
    text-decoration: underline;
}

#agile_link:hover{
color:#B039D3;
}

.info_3{
padding-top:1%;
margin-bottom:0;
margin-top:0;
color:#6DB863;
margin-left: 5%;
font-size: 2.5vw;
width: 70%;
line-height: 150%;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

/* **************************   Slide 4   ***************************/


#deployment{
font-size: 2vw;
color: white;
line-height: 50% !important;
}


.info_4{
padding-top:3%;
margin-bottom:0;
margin-top:0;
color:white;
margin-left: 10%;
font-size: 1.8vw;
width: 48%;
line-height: 150%;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.info_5{
padding-top:1%;
margin-bottom:0;
margin-top:0;
color:white;
margin-left: 5%;
font-size: 1.8vw;
width: 60%;
line-height: 150%;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

#project{
font-weight:700;
font-size: 3vw;
color:white;
}

#done_title{
font-weight:500;
color:#6DB858;
font-size: 3.7vw;
}

#handshake{
float: right;
width: 18%;
margin-top: 6%;
margin-right: 5%;
}

#middle_info{
margin-left:16%;
padding-top:3%;
}

#last_info{
padding-top:3%;
}

#done{
font-weight:500;
color:#6DB858;
font-size: 2.3vw;
}

#lasting_relationships{
color: orange;
}

#wont{
color: red;
font-size: 2.3vw;
}



/* **********************************************  HOW WE WORK ********************************************* */



/* **************************   Slide 1   ***************************/

.info_6{
padding-top:2%;
padding-left:4%;
padding-bottom:4%;
padding-right:4%;
color:white;
margin-left: 8%;
font-size: 1.6vw;
width: 40%;
line-height: 150%;
float:none;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
vertical-align:top;
}

.info_7{
padding:0;
color:white;
margin-left: 5%;
margin-top: 1%;
font-size: 3.4vw;
width: 80%;
line-height: 150%;
float:none;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
margin-bottom:0;
}

.info_8{
padding-top:0;
padding-left:4%;
padding-bottom:4%;
padding-right:4%;
color:white;
margin-left: 8%;
font-size: 1.6vw;
width: 40%;
line-height: 150%;
float:none;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
margin-bottom:0;
vertical-align:top;
}

table{
width: 90%;
margin-left: 5%;
}

#arrow_1{
width: 6%;
float: right;
margin-right: 0;
margin-top:-5.6%;
}

#arrow_1:hover{
background-color: #383838;
border: 1px solid #383838;
border-radius: 5px;
}

#arrow_left_1{
width: 6%;
float: right;
margin-right: 2%;
margin-top: -5.6%;
display:none;
}

#arrow_left_1:hover{
background-color: #383838;
border: 1px solid #383838;
border-radius: 5px;
}

#how_we_work_title{
font-weight:700;
font-size: 4vw;
color:white;
text-decoration: underline;
}

#hourly{
font-weight:500;
color:yellow;
}

#it_depends{
font-weight:500;
color:orange;
}

#do_not{
font-weight:500;
color:red;
}

#estimate{
font-weight:500;
color:red;
}

#price{
font-weight:500;
color: #6ea9ff;
}


/* **************************   Slide 2   ***************************/

.info_9{
color: #F5DEB3;
margin-left: 20%;
font-size: 1.8vw;
width: 60%;
line-height: 115%;
float: none;
font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
vertical-align: top;
text-align: center;
margin-bottom: 3%;
}


.info_10{
color: white;
margin-left: 10%;
font-size: 1.8vw;
width: 45%;
line-height: 115%;
float: none;
font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
margin-bottom: 3%;
margin-top: 3%;
}



#contract{
float: right;
margin-top: 7%;
margin-right: 17%;
width:13%;
}

/* **********************************************  ABOUT US ********************************************* */


#arrow_2{
width: 6%;
float: right;
margin-right: 0;
margin-top:-15%;
}

#arrow_left_2{
width: 6%;
float: right;
margin-right: 0;
margin-top:-15%;
}

.twitter_icon{
  width: 30px;
  height: 30px;
}

.contact_icons{
  width: 50px;
  height: 50px;
}

.block{
  display: block;
}

.right_1{
  margin-left: 20%;
}

.right_2{
  margin-left: 30%;
}

/* **************************   Slide 1   ***************************/

#page_title{
  color: #5c91ff;
margin-left: 3%;
font-size: 3.3vw;
margin-top: 1%;
text-align: center;
  font-family: 'Pacifico', cursive;
}

#titles{
color:#5075D5;
font-size: 2.2vw;
  color: white;
  font-family: 'Josefin Slab', serif;

}

#dh_profile_pic{
float:left;
margin-left:5%;
width: 15%;
border: 4px solid white;
}

#info_drew{
  position: relative;
  top: -200px;
  color: #fffbf9;
margin-left: 30%;
font-size: 1.2vw;
width: 57%;
line-height: 150%;
  font-family: "Arial Black", Gadget, sans-serif;

}

#sdsueetutor_link{
  color: #72abff;
}


/* **************************   Slide 2   ***************************/


#mh_profile_pic{
float:left;
margin-left:5%;
width: 15%;
border: 4px solid white;
}

#info_matt{
  position: relative;
  top: -200px;
  color: #fffbf9;
margin-left: 30%;
font-size: 1.2vw;
width: 57%;
line-height: 150%;
  font-family: "Arial Black", Gadget, sans-serif;
}

