<!-- **********************************  Slide 1  ***************************************  -->

<div class="slide_1">

<p id="titles">The Team</p>

	<p id="titles">Drew Haines, Co-Founder</p>

	
		<div id="drew_image">
		<%= image_tag "dh_profile_pic.jpg", :id=>"dh_profile_pic"%>
		</div>

		
	<p id="info_drew">
		Enter paragraph for Drew's info.
	</p>
	
		
</div>

<!-- **********************************  Slide 2  ***************************************  -->

<div class="slide_2">

	<p id="titles">Matt Haines, CPA & Co-Founder</p>

	
		<div id="matt_image">
		<%= image_tag "mh_profile_pic.jpg", :id=>"mh_profile_pic"%>
		</div>

		
	<p id="info_matt">
		Matt joins the team with 4+ years of experience in the Accounting and Finance industry.  
	</p>
	
</div>	
	
		
<!-- **********************************  Slide 3  ***************************************  -->	
	
<div class="slide_3">	
	
	<p class="info">DevCo</p>

	
</div>
	
	
<%= image_tag "arrow.png", :class=>"arrow", :id=>"arrow_1" %>
<%= image_tag "arrow_left.png", :class=>"arrow_left", :id=>"arrow_left_1"%>