<!-- **********************************  Slide 1  ***************************************  -->

<div class="slide_1">

<p id="page_title">Meet the Founders</p>

	<p id="titles">Drew Haines</p>

	
		<div id="drew_image">
		<%= image_tag "dh_profile_pic.jpg", :id=>"dh_profile_pic"%>
		</div>

		
	<p id="info_drew">
		Drew comes to DevCo with a background in Electrical Engineering, however has gravitated heavily to the computer science 
		end of the spectrum! <br><br>In addition to Devco, Drew also runs <span id="sdsueetutor"> <%= link_to "SDSUeeTutor.com", "http://sdsueetutor.com", :target => "_blank", :id => "sdsueetutor_link" %></span>, 
		a professional tutoring company for engineering and programming students at San Diego State.  <br><br>His passion for technology and automation are unmatched 
		saying, "Technology and the internet are critical to any business because they bring automation. You can have programs running 
		on the internet 24/7 making the growth potential enormous for your business!"
	</p>
	
</div>

<!-- **********************************  Slide 2  ***************************************  -->

<div class="slide_2">

<p id="page_title">Meet the Founders</p>

	<p id="titles">Matt Haines, CPA</p>

	
		<div id="matt_image">
		<%= image_tag "mh_profile_pic.jpg", :id=>"mh_profile_pic"%>
		</div>

		
	<p id="info_matt">
		Matt joins the team with over 4 years of experience from the top firms in the Accounting and Finance industry including KPMG, LLP and BDO USA, LLP. <br><br>His entrepreneurial drive 
		and excitement about software has lead him to help create Devco.  Matt maintains the financial health of Devco while remaining 
		an integral part of the design and development team. <br><br>Matt's passion for business is shown through making Devco a place
		where people WANT to do business.  This happens by being fair, reliable and fostering lasting relationships with other professionals.
	</p>

</div>
	

	
	
<%= image_tag "arrow.png", :class=>"arrow", :id=>"arrow_2" %>
<%= image_tag "arrow_left.png", :class=>"arrow_left", :id=>"arrow_left_2"%>