.hidden-xs
  %p#contact_form.text-center Want us to develop your app?  Get in touch by filling out a contact form.
  .row
    .space-30
    .col-xs-12.text-center
      = button_to  "Let's Talk", "/contact", :id => "submit_buttom_1"
.visible-xs
  %p#contact_form-xs.text-center Want us to develop your app?  Get in touch by filling out a contact form.
  .row
    .space-20
    .col-xs-12.text-center
      = button_to  "Let's Talk", "/contact", :id => "submit_buttom_1-xs"
