<!-- **********************************  Slide 1  ***************************************  -->

<div class="slide_1" >
	<p class= "info_7" id="how_we_work_title">
		 Price
	</p>
	

	<table>
		<tr>
		  <td class="info_6">As any good developer will tell you,<br> <span id="it_depends">IT DEPENDS</span>.  Size, complexity, and your business all affect the price we quote.</td>
		  <td class="info_6">We charge <span id="hourly">HOURLY</span>.  So you only pay for time actually spent coding, designing, testing, deploying, and communicating. </td>

		</tr>
		<tr>
		  <td class="info_8">We <span id="do_not">DO NOT</span> give fixed price quotes.  Fixed price in software can lead to unfair pricing for either party.  Instead, we can help estimate the size of your project, but it is only that, an <span id="estimate">ESTIMATE</span>. </td>
		  <td class="info_8">For a baseline idea,  we charge <br><span id="price">$80/hr per developer</span>.  However, that rate can vary depending on the project.  We build in teams of <span id="price">2-4 developers</span>.</td>

		</tr>
	</table>


</div>




<!-- **********************************  Slide 2  ***************************************  -->




<div class="slide_2" id="payment_slide">
	<p class="info_7" id="how_we_work_title">
		Payment
	</p>


	<p class="info_9" id="payment_mobile">
		We invoice credit worthy clients bi-weekly.
	</p>	
	
	<p class="info_9">
		For all others, including start-ups, we require payment in advance.  Whatever amount you can afford.  We start with a small deposit, then deliver results and build trust from there.
	</p>
	
	<p class="info_9">
		A 1.5% monthly late fee applies to all balances outstanding greater than 30 days.
	</p>
	
	<p class="info_9">
		Invoices are sent and paid electronically. 
	</p>
	

</div>


<!-- **********************************  Slide 3  ***************************************  -->


<div class="slide_3" id="contracts_slide">
	<p class="info_7" id="how_we_work_title">
		Contracts
	</p>
	
	<%= image_tag "Contract.png", :id=>"contract" %>

	<div>
		<p class="info_10">
			We use a standard contract that covers the basics for software development.  That includes price, schedule, confidentiality, and rights of ownership.
		</p>	
		
		<p class="info_10">
			If you are concerned about privacy, we are happy to sign a non-disclosure agreement (NDA) before discussing your project. 
		</p>
		<br><br>
	</div>
	

	

</div>



<%= image_tag "arrow.png", :class=>"arrow", :id=>"arrow_1" %>
<%= image_tag "arrow_left.png", :class=>"arrow_left", :id=>"arrow_left_1"%>


