<!-- **********************************  Slide 1  ***************************************  -->

<div class="slide_1">
	<p class= "info_7" id="how_we_work_title">
		 Price
	</p>
	

	<table>
		<tr>
		  <td class="info_6">As any good developer will tell you,<br> <span id="it_depends">IT DEPENDS</span>.  Size, complexity, and your business all affect the price we quote.</td>
		  <td class="info_6">We charge <span id="hourly">HOURLY</span>.  So you only pay for time actually spent coding, designing, testing, deploying, and communicating. </td>

		</tr>
		<tr>
		  <td class="info_8">We <span id="do_not">DO NOT</span> give fixed price quotes.  Fixed price in software can lead to unfair pricing for either party.  Instead, we can help estimate the size of your project, but it is only that, <br> an <span id="estimate">ESTIMATE</span>. </td>
		  <td class="info_8">For a baseline idea,  we charge <br><span id="price">$80/hr per developer</span>.  However, that rate can vary depending on the project.  We build in teams of <span id="price">2-4 developers</span>.</td>

		</tr>
	</table>


</div>




<!-- **********************************  Slide 2  ***************************************  -->




<div class="slide_2">
	<p class="info_7" id="how_we_work_title">
		Payment
	</p>


	<p class="info_9">
		We invoice credit worthy clients bi-weekly.
	</p>	
	
	<p class="info_9">
		For all others, including start-ups, we require payment in advance.  Whatever amount you can afford.  We start with a small deposit, then deliver results and build trust from there.
	</p>
	
	<p class="info_9">
		A 1.5% monthly late fee applies to all balances outstanding greater than 30 days.
	</p>
	
	<p class="info_9">
		Invoices are sent and paid electronically. 
	</p>

</div>


<!-- **********************************  Slide 3  ***************************************  -->


<div class="slide_3">
	<p class= "info_7" id="how_we_work_title">
		Contracts
	</p>
	

	<table>
		<tr>
		  <td class="info_6">As any good developer will tell you,<br> <span id="it_depends">IT DEPENDS</span>.  Size, complexity, and your business all affect the price we quote.</td>
		  <td class="info_6">We charge <span id="hourly">HOURLY</span>.  So you only pay for time actually spent coding, designing, testing, deploying, and communicating. </td>

		</tr>
		<tr>
		  <td class="info_8">We <span id="do_not">DO NOT</span> give fixed price quotes.  Fixed price in software brings constraints and someone typically get burned.  We can help estimate the size of your project, but it is only that, an <span id="estimate">ESTIMATE</span>. </td>
		  <td class="info_8">For a baseline idea,  we charge <br><span id="price">$80/hr per developer</span>.  That rate can vary from $50-$150 depending on the project and we build in teams of <span id="price">2-4 developers</span>.</td>

		</tr>
	</table>


</div>


<!-- **********************************  Slide 4  ***************************************  -->


<div class="slide_4">
	<p class="info_5">
		<span id="project"> Once your Project is <span id="done_title">"done"</span>...</span>
	</p>

	<%= image_tag "handshake.png", :id=>"handshake"%>

	<p class="info_4">
		Software is never <span id="done">"done"</span>.  It is a living thing that changes based on the needs of your business.
	</p>	
	
	<p class="info_4" id="middle_info">We want to build <span id="lasting_relationships">Lasting Relationships</span> with clients, and continue to work together in the future.</p>
	
	<p class="info_4" id="last_info">
		We <span id="wont">WON'T</span> disappear afterwords, leaving you stranded to find another developer.
	</p>

</div>






<%= image_tag "arrow.png", :class=>"arrow", :id=>"arrow_1" %>
<%= image_tag "arrow_left.png", :class=>"arrow_left", :id=>"arrow_left_1"%>


