<p class="info">

	We are <span id="developers">developers</span>,
		   <span id="designers">DESIGNERS</span>, and 
		   <span id="entrepreneurs">Entrepreneurs</span> 
	that build software for multiple devices using 
	internet technologies.
	
</p>

<div id="image_wrapper">
	<%= image_tag "HTML5.png", :id=>"HMTL"%>
	<%= image_tag "JQuery.png", :id=>"JQuery"%>
	<%= image_tag "css3.png", :id=>"css3"%>
	<%= image_tag "Rails.png", :id=>"Rails"%>
	<%= image_tag "MySQL.png", :id=>"MySQL"%>
</div>


<%= image_tag "arrow.png", :id=>"arrow"%>
<%= image_tag "arrow_left.png", :id=>"arrow_left"%>