<script>
	$('#menu_4').unbind().click(function() {
	$('#nav_wrapper').removeClass('sticky');
	});
</script>


<div id="wrapper">
	<p id="notice"><%= notice %></p>

	<div id="form_wrapper">

		<%= render "form" %>

	</div>
</div>

