<p id="wrapper">
	<span id="fair">Fair.</span>
	<br>
	<span id="reliable">Reliable.</span>
	<br>
	<span id="smart">Smart.</span>
</p>


<div class="partial" id="what_we_do"> 
	<%= render "what_we_do"%>
</div>


<div class="partial" id="how_we_work"> 
	<%= render "how_we_work"%>
</div>


<div class="partial" id="about_us"> 
	<%= render "about_us"%>
</div>


<div class="partial" id="contact"> 
	<%= render "contact"%>
</div>